#dashbord {
    height: 100vh;
}

#dashbord-sections-list {

}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color:#3498db;
    font-size:140%;
}

#dashbord-sections-list .nav-link {
    font-size:140% !important;
}

#dashbord-sections-list .nav-link {
    
}

.dash-link {
    font-size:100%;
    padding:8% 3%;
    color: white;
    margin:2%;
    opacity:0.9;
    font-weight:700;
}

.dash-link:hover {
    background-color:#333;
}